
.fade-appear,
  .fade-enter {
      opacity: 0;
      z-index: 1;
  }
  .fade-appear-active,
  .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 300ms linear 150ms;
  }
  
  .fade-exit {
      opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
      opacity: 0;
      transition: opacity 150ms linear;
  }

@media (min-width: 360px), (max-width: 767px){
  body
  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .container {
    width: 100vw;
    min-height: 800px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 0rem;
    position: relative;
    background-color: white;
  
    z-index: 2;
    box-shadow: 0px 0px 10px 10px white;
}
h1
{
  position: relative;
 
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    color: rgb(132, 223, 58);
   
}
.h1-mobile
{
  display: none;
}
section.Page:before{
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 130%;
border-radius: 0 0 100% 20%/0 0 40% 0%;

  background: linear-gradient( 45deg ,#5ec201,#95ff80);
}
section.Page:after{
  
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 4%;
border-radius: 0 0 100% 20%/0 0 40% 0%;
 
  background: linear-gradient( 45deg ,#9bff29,#c5fa93);

}
}
@media (min-width: 767px){
  body
  {
    display: block;
  }
  .container
{
    min-height: 1050px;
    max-width: 68vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    flex-direction: row;
    box-shadow: 0px 0px 0px 0px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    background-color: white;
    border: 4px solid #9bff29;
    z-index: 2;
    border-radius: 7rem;
}

  .page_h1
{
  position: relative;
  z-index: 3;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.3rem;
    margin-left: 5rem;
    color: rgb(132, 223, 58);
    display: flex;
    justify-content: flex-start;
}

}
div.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

main{
  display: flex;
  flex-grow: 1;
  padding: 30px 0;
  box-shadow: 0 0 5px 8px white;
  background-color: rgb(255, 255, 255);
  
  z-index: 1;
}


aside{
  z-index: 1;
  margin-left: 40px;
 
  background-color: transparent;
}

section.Page{
  
  overflow:hidden;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
}
section.Page:before{
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 130%;
border-radius: 0 0 100% 20%/0 0 40% 0%;

  background: linear-gradient( 45deg ,#5ec201,#95ff80);
}
section.Page:after{
  
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 126%;
border-radius: 0 0 100% 20%/0 0 40% 0%;
 
  background: linear-gradient( 45deg ,#9bff29,#c5fa93);

}
footer{
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

@media(max-width: 768px){
   
  aside{
      display: none;
  }
}