@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Just+Another+Hand&family=Lobster&family=Patrick+Hand&family=Satisfy&display=swap');

.fade-appear,
  .fade-enter {
      opacity: 0;
      z-index: 1;
  }
  .fade-appear-active,
  .fade-enter.fade-enter-active {
      opacity: 1;
      transition: opacity 300ms linear 150ms;
  }
  
  .fade-exit {
      opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
      opacity: 0;
      transition: opacity 150ms linear;
  }

@media (min-width: 360px), (max-width: 767px){
  body
  {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .container {
    width: 100vw;
    min-height: 800px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 0rem;
    position: relative;
    background-color: white;
  
    z-index: 2;
    box-shadow: 0px 0px 10px 10px white;
}
h1
{
  font-family: 'Satisfy', cursive;
  position: relative;
  text-shadow: 1px 1px rgb(103, 182, 51);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    color: rgb(205, 252, 129);
   
}
.h1-mobile
{
  display: none;
}
section.Page:before{
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 130%;
border-radius: 0 0 100% 20%/0 0 40% 0%;

  background: linear-gradient( 45deg ,#5ec201,#95ff80);
}
section.Page:after{
  
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 4%;
border-radius: 0 0 100% 20%/0 0 40% 0%;
 
  background: linear-gradient( 45deg ,#9bff29,rgb(208, 252, 137));

}
}
@media (min-width: 767px){
  body
  {
    display: block;
  }
  .container
{
    min-height: 850px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    flex-direction: row;
    box-shadow: 0px 0px 0px 0px;
    margin-top: 3rem;
    position: relative;
    background-color: white;
    border: 5px solid #9bff29;
    border-bottom: 5px solid #9bff29;
    border-right: 0;
    z-index: 2;
    border-radius: 7rem 0rem 0rem 0rem;
}

  .page_h1
{
  text-shadow: 1px 1px rgb(43, 107, 0);
  position: relative;
  z-index: 3;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.3rem;
    margin-left: 5rem;
    color: rgb(198, 253, 109);
    display: flex;
    justify-content: flex-start;
}

}
div.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

main{
  display: flex;
  flex-grow: 1;
 
  box-shadow: 0 0 5px 8px white;
  background-color: rgb(255, 255, 255);
  
  z-index: 1;
}


aside{
  z-index: 1;
 width: 350px;
 
 
}
aside ul 
{
  width: 350px;
  padding: 1.5rem  2rem  1rem 0  ;
  padding-left: 2rem;
  background: linear-gradient( 90deg ,#82ce2c,#9de24e);
  border-bottom: #5ec201 solid 1.5rem;
  
}

section.Page{
  
  overflow:hidden;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
}
section.Page:before{
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 130%;
border-radius: 0 0 100% 20%/0 0 40% 0%;

  background: linear-gradient( 45deg ,#5ec201,#95ff80);
}
section.Page:after{
  
  content: '';
  position: absolute;
  top: 0;
left: 0;
width: 100%;
height: 126%;
border-radius: 0 0 100% 20%/0 0 40% 0%;
 
  background: linear-gradient( 45deg ,#90d640,rgb(197, 253, 107));

}

@media(max-width: 768px){
   
  aside{
      display: none;
  }
}