
@media (min-width: 360px), (max-width: 767px){
    
    .box
    {
        min-height: 230px;
        max-height: 420px;
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
        border-bottom: 2px solid #d1faa3;
      
    }
    .imgbox
    {
        display: flex;
        justify-content: space-around;
        margin-right: 1rem;
        padding-top: 20px;
    }
 .oil-image
    {
        height: 200px;
    }
    
    .content
    {
        margin-top: 1rem;
        width: 80vw;
        font-size: 14px;
        align-items: center;
    }
    .content p 
    {
        margin-bottom: .5rem;
    }
    .content h2
    {
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .content h4
    {
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
    }
    
    @media (min-width: 767px){
        .oil-image
        {
            height: 240px;
        }
    .box
    {
        min-height: 42vh;
        margin-bottom: 2rem;
        width: 92%;
        justify-content: space-around;
    }
    .content
    {
        margin-top: 1rem;
        width: 80vw;
        font-size: 22px;
        justify-content: space-around;
    }
    .content p 
    {
        margin-bottom: 1rem;
    }
    .content h2
    {
        font-size:30px;
    }
    .content h4
    {
        font-size: 24px;
    }
    } 