*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}
@media (min-width: 360px), (max-width: 767px){
  .HeaderLogo
{
  margin-top: .5rem;
    display: block;
    left: 50%;
 transform: translateX(-50%);
    width: 80vw;
    z-index: 2;
    position: relative;
    overflow: hidden;
  
}
  .home-page_h1
  {
    display: none;
  }
  .homePage
{
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  background-color: white;
  
  z-index: 2;
  max-width: 1100px;
 box-shadow: 0px 0px 10px 10px white;
}
  .homePage p 
{
  background-color: white;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 18px;
  width: 80%;
 left: 50%;
 transform: translateX(-50%);
  text-align: justify;
  color: rgb(48, 73, 20);
  z-index: 2;
}
.olives2
{
  
  width: 100%;
shape-outside: circle(50%);
border-radius: 31%;
}
.townimg
{
  width: 100%;
}
}
@media (min-width: 767px){
  .HeaderLogo
  {
      display: none;
  }
  .home-page_h1
  {
    display: block;
    margin-top: 3rem;
  }
.homePage
{
  margin-right: 5%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  position: relative;
  background-color: white;
  border: 4px solid rgb(48, 73, 20);
  z-index: 2;
  max-width: 1100px;
  border-radius: 55px;
  box-shadow: 0px 0px 0px 0px;
}

.homePage p 
{
  background-color: white;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  width: 80%;
  text-align: inherit;
  color: rgb(48, 73, 20);
  z-index: 2;
}

.homePage p span
{
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: bold;
  margin-left: 10px;
}
.townimg
{
  position: relative;
  width: 450px;
  height: 300px;
  float: right;
  shape-outside: margin-box;
  margin: 60px 0px 0px 30px;
  box-shadow: 0px 0px 10px 2px rgb(43, 43, 43);
  z-index: 2;
}

.olives2
{
  position: relative;
  width: 450px;
  height: 300px;
  float: left;
  shape-outside: circle(50%);
  border-radius: 31%;
  margin: 45px 30px 30px 0px;
 /* box-shadow: 0px 0px 10px 2px rgb(43, 43, 43); */
}
}

