.Logo
{
    position: absolute;
    width: 100%;
    height: 80PX;
    background: linear-gradient( 45deg ,#9bff29,#c5fa93);
    z-index: 3;
}
.exouisideLogo{
position: absolute;
TOP: 15%;
left: 50%;
transform: translateX(-50%) scale(1.15);
z-index: 4;
}

@media(max-width: 768px){
   
    .Logo{
        display: none;
    }
  }