.products
{
    min-height: 50vh;
}
.products h2 {
    margin-top: 4%;
    margin-bottom: 6%;
    font-size: 40px;
    margin-left: 5%;
}

.products ul {
    list-style: square;
    padding-left: 60px;
}

.products li {
    margin-bottom: 30px;
}
.products a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.products a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}