.side-drawer{
    height: 100%;
    background: white;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 78%;
    max-width: 400px;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}
.side-drawer.open{
    transform: translateX(0);
    box-shadow: 1px 0px 7px rgb(63, 63, 63);
}

.side-drawer ul{
    margin-left: 10%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    
}
.side-drawer li {
    margin: .8rem 0;
}

.side-drawer a {
    color: #86b43c;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    
}

.side-drawer a:hover,
.side-drawer a:active{
    color: orange;
}

@media (min-width: 769px){
    .side-drawer{
        display: none;
    }
}